.vote-main-container {
    align-items: center;
}

.vote-top-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#vote-countdown {
  color: white;
  font-size: 2rem;
}

.vote-hype {
  display: none;
}

#vote-pepe-1 {
  position: relative;
}

#vote-pepe-2 {
  position: relative;
}

#vote-pointer {
  position: relative;
}