.vote-main-container {
  /* display: none; */
}

.vote-top-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* NEW */
}

#vote-countdown {
  color: white;
  font-size: 2rem;
}

#vote-numbers {
  display: none;
}

.vote-hype {
  display: none;
}

#vote-pepe-1 {
  position: relative;
  /* display: none; */
}

#vote-pepe-2 {
  position: relative;
  /* display: none; */
}

#vote-pointer {
  position: relative;
}